.page1{
  border-radius: 0px 0px 0px 75px;
}
#LandingPageOfferBtn{
  color: hsl(353, 100%, 62%, 0.95);
}
#LandingPageOfferBtn{
  background-color: white;
}
#LandingPageOfferBtn:hover{
  border: 1px solid white;
}
#LearnMoreBtn{
  border: 1px solid white;
  color: white;
}
#LearnMoreBtn:hover{
  color: hsl(353, 100%, 62%, 0.95);
}
/* Page2 */
#Page2Grid{
  height: 100%;
}
#EditorIllustrationImgColumn{
  background-image: url(./images/illustration-editor-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 2.5rem;
}
/* Page 3 */
.page3{
  width: 100%;
  transform: skew(20deg);
  height: 40vh;
  border-radius: 30px;
  background: linear-gradient(to left,hsl(237, 23%, 32%), hsl(237, 17%, 21%));
  z-index: 0;
}
#BackgroundCircles{
  background-image: url(./images/bg-pattern-circles.svg);
  transform: skew(-20deg);
  background-position-x: -2rem;
  background-position-y: -8rem;
  overflow-y:auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
#PhoneIllustration{
  z-index: 1;
  margin-top: -6.5rem;
  margin-left: 6rem;
  width: 33%;
}
.page3-content{
  transform: skew(-20deg);
}
.page3 p{
  width: 85%;
}
/* Page 4 */
.page4{
  height: 100vh;
}
.LaptopIllustrationColumn{
  background-image: url(./images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -15rem;
  background-position-y: 2.75rem;
}
/* Footer */
.content-footer{
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 75px 0px 0px;
}